@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// === libs ===
@import "libs/index";

// === fonts ===
@import "fonts";
@import "iconfonts";

// === Base ===
@import "base/index";

// === Components ===
@import "components/index";

// === HEADER START ===
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	transition: 0.3s ease box-shadow 0s;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		transition: 0.3s ease background-color 0s;
	}

	&.bg {
		box-shadow: 0px -1px 26px -7px rgba(33, 55, 65, 0.61);

		&::before {
			background-color: $White;
		}

		.header__body {
			height: $size-header-height-mobile;
		}
	}

	&__container {
		max-width: 1344px;
	}

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		height: $size-header-height;
		transition: 0.3s ease height 0s;

		@media screen and (max-width: 991px) {
			height: $size-header-height-mobile;
		}

		&.active {
			&::before {
				z-index: 5;
			}
		}
	}

	&__burger {
		display: none;

		@media screen and (max-width: 991px) {
			display: inline-flex;
			width: 42px;
			height: 42px;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
			border: 1px solid $LGrey;
			z-index: 5;

			&.active {
				.header__burger-inner {
					&::before {
						transform: rotate(45deg);
						top: 6px;
					}

					&::after {
						transform: rotate(-45deg);
						bottom: 5px;
					}

					span {
						transform: translate(0, -50%) scale(0);
					}
				}
			}
		}
	}

	&__burger-inner {
		@media screen and (max-width: 991px) {
			display: block;
			width: 15px;
			height: 12px;
			position: relative;

			&::before,
			&::after,
			span {
				position: absolute;
				left: 0;
				background-color: $Black;
				width: 100%;
				height: 10%;
				border-radius: 20px;
				transition: 0.3s ease all 0s;
			}

			&::before {
				content: "";
				top: 0;
			}

			&::after {
				content: "";
				bottom: 0;
			}

			span {
				width: 70%;
				top: 50%;
				transform: translate(0, -50%) scale(1);
			}
		}
	}

	&__logo {
		z-index: 2;
		@include adaptiv-value("margin-right", 80, 0, 1);
		transition: 0.3s ease opacity 0s;

		@media screen and (min-width: 992px) {
			&:hover {
				opacity: 0.8;
			}
		}
		@media screen and (max-width: 991px) {
			margin: 0;
		}
	}

	&__menu {
		display: flex;
		align-items: center;
		flex: 1 1 auto;

		@media screen and (max-width: 991px) {
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			max-width: 266px;
			height: 100%;
			overflow: auto;
			background-color: $White;
			box-shadow: 0px 4px 74px rgba(0, 0, 0, 0.15);
			padding: 0 40px 25px;
			z-index: 3;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			transition: 0.3s ease left 0s;

			&::before {
				content: "";
				background-color: $White;
				position: fixed;
				z-index: 4;
				top: 0;
				left: -100%;
				width: 100%;
				max-width: 266px;
				height: $size-header-height-mobile;
				transition: 0.3s ease left 0s;
			}

			&.active {
				left: 0;

				&::before {
					left: 0;
				}
			}
		}
	}

	&__list {
		display: flex;
		align-items: center;
		flex: 1 1 auto;
		z-index: 2;

		@media screen and (max-width: 991px) {
			display: block;
			flex: initial;
			padding-top: 100px;
		}
	}

	&__menu-item {
		@media screen and (max-width: 991px) {
			margin: 0px 0px 32px 0px;
		}
	}

	&__phone {
		font-weight: 700;
		font-size: 15px;
		line-height: 1;
		color: $Black;
		white-space: nowrap;
		z-index: 2;
		display: block;
		@include adaptiv-value("margin-right", 48, 15, 1);
		transition: 0.3s ease color 0s;

		@media screen and (min-width: 992px) {
			&:hover {
				color: $Grey2;
			}
		}
	}

	&__link {
		display: block;
		@include adaptiv-value("margin-right", 38, 8, 1);
		z-index: 2;
		font-weight: 500;
		font-size: 12px;
		line-height: 1;
		color: $Black;
		text-decoration: underline;
		white-space: nowrap;
		transition: 0.3s ease color 0s;

		@media screen and (min-width: 992px) {
			&:hover {
				text-decoration: underline;
				color: $Grey2;
			}
		}
	}

	&__lc {
		z-index: 2;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: 46px;
		border-radius: 100px;
		padding: 15px 14px 15px 22px;
		border: 1px solid $LGrey;
		font-weight: 500;
		font-size: 12px;
		line-height: 1;
		color: $Black;
		white-space: nowrap;
		transition: 0.3s ease border-color 0s;

		@media screen and (min-width: 992px) {
			&:hover {
				border-color: $Violet;
			}
		}
		@media screen and (max-width: 575px) {
			width: 42px;
			height: 42px;
			padding: 0;
		}

		span {
			margin-right: 16px;

			@media screen and (max-width: 575px) {
				display: none;
			}
		}

		i {
			font-size: 16px;
		}
	}
}

.menu {
	&__item {
		@include adaptiv-value("margin-right", 32, 8, 1);
	}

	&__link {
		font-size: 14px;
		line-height: 1;
		color: $Black;
		transition: 0.3s ease color 0s;

		@media screen and (min-width: 992px) {
			&:hover {
				color: $Grey2;
			}
		}
	}
}
// === HEADER END ===

// === MAIN START ===
.main {
	overflow: hidden;
	// background: url(../img/main/bg.svg) no-repeat right/contain;
	@include adaptiv-value("padding-top", 65, 26, 1);
	@include adaptiv-value("padding-bottom", 65, 26, 1);

	&__row {
		@media screen and (min-width: 768px) {
			display: flex;
		}
	}

	&__content {
		flex: 0 0 56%;

		@media screen and (max-width: 767px) {
			padding-bottom: 20px;
		}
	}

	&__title {
		@include adaptiv-value("padding-top", 35, 0, 1);
		@include adaptiv-value("padding-bottom", 35, 0, 1);
		margin-bottom: 14px;
		position: relative;

		@media screen and (max-width: 575px) {
			margin-bottom: 32px;
		}

		&::before {
			content: "";
			display: block;
			height: 100%;
			@include adaptiv-value("width", 28, 6, 1);
			background-color: $Violet2;
			position: absolute;
			top: 0;
			left: -9px;
			transform: translate(-100%, 0);

			@media screen and (min-width: $layoutDesktop + "px") {
				left: -80px;
			}
		}
	}

	&__text {
		@include adaptiv-font(18, 14, 25, 1);
		@include adaptiv-value("margin-bottom", 65, 40, 1);
		color: $Grey;
	}
}

.swing-1 {
	animation: swing 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	z-index: 1;
}

.swing-2 {
	animation: swing 3.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	z-index: 2;
}

.swing-3 {
	animation: swing 3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	z-index: 3;
}

.swing-4 {
	animation: swing 2.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	z-index: 4;
}

@keyframes swing {
	0% {
		-webkit-transform: rotateZ(10deg);
		-moz-transform: rotateZ(10deg);
		transform: rotateZ(10deg);
	}
	100% {
		-webkit-transform: rotateZ(-10deg);
		-moz-transform: rotateZ(-10deg);
		transform: rotateZ(-10deg);
	}
}
// === MAIN END ===

// === ABOUT START ===
.about {
	@include adaptiv-value("margin-top", 83, 0, 1);

	&__row {
		@media screen and (min-width: 768px) {
			display: flex;
		}
	}

	&__left {
		padding-right: 15px;
		flex: 0 0 50%;

		@media screen and (max-width: 767px) {
			padding: 0px 0px 53px 0px;
		}
	}

	&__text {
		max-width: 460px;

		@media screen and (max-width: 767px) {
			max-width: 100%;
		}
	}

	&__right {
		display: flex;
		justify-content: center;
		flex: 0 0 50%;
	}

	&__cards {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		max-width: 400px;
		@include adaptiv-value("margin-top", -27, -24, 1);
		@include adaptiv-value("margin-bottom", -27, -24, 1);
		@include adaptiv-value("margin-left", -27, -7, 1);
		@include adaptiv-value("margin-right", -27, -7, 1);
	}

	&__card {
		flex: 0 0 50%;
		@include adaptiv-value("padding-top", 27, 24, 1);
		@include adaptiv-value("padding-bottom", 27, 24, 1);
		@include adaptiv-value("padding-left", 27, 7, 1);
		@include adaptiv-value("padding-right", 27, 7, 1);
	}

	&__card-wrapper {
		max-width: 160px;
		margin: 0 auto;
		text-align: center;
	}

	&__card-icon {
		position: relative;
		padding-bottom: 60px;
		margin-bottom: 16px;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__card-label {
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: $Grey;
	}
}
// === ABOUT END ===

// === STATISTICS START ===
.statistics {
	@include adaptiv-value("padding-top", 100, 88, 1);
	padding-bottom: 70px;

	@media screen and (min-width: 992px) {
		padding-top: 150px;
	}

	&__title {
		@include adaptiv-value("margin-bottom", 40, 24, 1);
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		@include adaptiv-value("margin", -20, -8, 1);

		.statistics__card {
			@media screen and (max-width: 991px) {
				display: flex !important;
			}
		}
	}

	&__card {
		flex: 0 0 33.333%;
		@include adaptiv-value("padding", 20, 8, 1);

		@media screen and (min-width: 992px) {
			&:nth-child(3n + 1) {
				.statistics__card-wrapper {
					transform: translate(0, -150px);
				}
			}
			&:nth-child(6n) {
				padding-top: 100px;
			}
		}
		@media screen and (max-width: 991px) {
			flex: 0 0 50%;
		}
		@media screen and (max-width: 575px) {
			flex: 0 0 100%;
		}

		&--black {
			.statistics__card-option {
				color: $Black;
			}
		}

		&--title {
			@media screen and (max-width: 991px) {
				padding: 0 0 40px 0;
			}
			@media screen and (max-width: 767px) {
				padding: 0px 0px 20px 0px;
			}
		}
	}

	&__card-wrapper {
		border-radius: 12px;
		box-shadow: 0px 44px 41px -40px rgba(0, 0, 0, 0.15), 0px 34px 54px rgba(0, 0, 0, 0.17);
		@include adaptiv-value("padding-top", 45, 35, 1);
		padding-bottom: 40px;
		@include adaptiv-value("padding-left", 40, 5, 1);
		@include adaptiv-value("padding-right", 40, 5, 1);
		display: flex;
		flex-direction: column;
		width: 100%;
		@include adaptiv-value("min-height", 347, 287, 1);

		@media screen and (max-width: 991px) {
			box-shadow: 0px 6px 9px -4px rgba(0, 0, 0, 0.15), 0px 4px 10px rgba(0, 0, 0, 0.17);
		}
		@media screen and (max-width: 600px) {
			padding-left: 24px;
			padding-right: 24px;
		}
	}

	&__card-logo {
		flex: 1 1 auto;
		margin-bottom: 20px;
	}

	&__card-option {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: $White;
		@include adaptiv-value("margin-bottom", 24, 16, 1);

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__card-option-label {
		padding-right: 10px;
		font-size: 14px;
		line-height: 17px;
		opacity: 0.6;
	}

	&__card-option-value {
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		text-align: right;
	}

	.slick-list {
		padding: 20px 0;
	}
}
// === STATISTICS END ===

// === SERVICES START ===
.services {
	&__heading {
		@include adaptiv-value("margin-bottom", 65, 20, 1);

		.title-h2 {
			span {
				@include adaptiv-value("margin-bottom", 8, 8, 1);
			}
		}
	}

	&__item {
		position: relative;
		overflow: hidden;

		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			pointer-events: none;
		}
		&::before {
			width: 672px;
			height: 282px;
			background: url(../img/services/service-bg.svg) no-repeat center/contain;
		}
		&::after {
			width: 759px;
			height: 193px;
			background: url(../img/services/service-bg-2.svg) no-repeat center/contain;
			bottom: 0;
			@include adaptiv-value("left", 48, 0, 1);
		}

		&:nth-child(2n) {
			.services__item-action {
				flex-direction: row-reverse;
				justify-content: flex-end;
			}
		}
	}

	&__item-wrapper {
		min-height: 563px;
		color: $White;

		@media screen and (min-width: 768px) {
			display: flex;
		}
	}

	&__item-image {
		flex: 0 0 34%;
		position: relative;

		@media screen and (min-width: 1921px) {
			position: absolute;
			width: 463px;
			height: 100%;
		}
		@media screen and (max-width: 767px) {
			padding-bottom: 50%;
			min-height: 180px;

			img {
				object-position: bottom;
			}
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: right;
			z-index: 1;
		}
	}

	&__item-content {
		width: 100%;
		max-width: #{$size-container + px};
		@include adaptiv-value("padding-top", 65, 48, 1);
		@include adaptiv-value("padding-bottom", 65, 48, 1);
		padding-left: 0;
		position: relative;
		z-index: 2;
		@include adaptiv-value("padding-right", 80, 20, 1);
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media screen and (min-width: 1921px) {
			margin: 0 auto;
			padding-left: 30px !important;
			padding-right: 30px !important;
		}
		@media screen and (max-width: 767px) {
			padding-top: 20px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	&__item-title {
		max-width: 342px;
		@include adaptiv-value("margin-bottom", 45, 25, 1);
	}

	&__item-row {
		margin: 0 -10px;
		@include adaptiv-value("margin-bottom", 45, 40, 1);

		@media screen and (min-width: 451px) {
			display: flex;
		}
	}

	&__item-column {
		flex: 0 0 50%;
		padding: 0 10px;

		@media screen and (max-width: 451px) {
			margin: 30px 0;

			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__item-subtitle {
		@include adaptiv-value("margin-bottom", 30, 20, 1);
		max-width: 355px;
	}

	&__item-text {
		max-width: 300px;
		font-size: 14px;
		line-height: 22px;
	}

	&__item-action {
		display: flex;
		justify-content: flex-start;
		@include adaptiv-value("margin-left", -22, -8, 1);
		@include adaptiv-value("margin-right", -22, -8, 1);

		@media screen and (max-width: 450px) {
			flex-direction: column-reverse;
		}

		& > div {
			@include adaptiv-value("padding-left", 22, 8, 1);
			@include adaptiv-value("padding-right", 22, 8, 1);
		}
	}

	&__item-price {
		font-weight: 700;
		font-size: 24px;
		line-height: 38px;
		display: inline-flex;
		align-items: center;

		@media screen and (max-width: 450px) {
			margin-bottom: 16px;
		}

		span {
			font-weight: 400;
			font-size: 12px;
			line-height: 17px;
			padding-left: 22px;
			display: inline-block;
		}
	}

	&__item-option {
		display: flex;
		align-items: center;
		margin-bottom: 16px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__item-option-icon {
		flex: 0 0 24px;
		margin-right: 16px;
	}

	&__item--reverse {
		.services {
			&__item-wrapper {
				flex-direction: row-reverse;
			}

			&__item-content {
				@include adaptiv-value("padding-left", 80, 20, 1);
				padding-right: 0;
			}

			&__item-image {
				img {
					object-position: left;
				}
			}
		}
	}

	&__item--dark {
		&::before {
			background: url(../img/services/service-bg-dark.svg) no-repeat center/cover;
		}
		&::after {
			background: url(../img/services/service-bg-dark-2.svg) no-repeat center/cover;
		}

		.services__item-wrapper {
			color: $Black;
		}

		.btn {
			background-color: $Violet2;
			color: $White;

			@media screen and (min-width: 992px) {
				&:hover {
					background-color: $Violet;
				}
			}
		}
	}
}
// === SERVICES END ===

// === CASES START ===
.cases {
	@include adaptiv-value("margin-top", 130, 80, 1);
	@include adaptiv-value("margin-bottom", 130, 80, 1);

	&__container {
		@media screen and (max-width: 575px) {
			padding: 0;
		}
	}

	&__title {
		margin-bottom: 18px;

		@media screen and (max-width: 575px) {
			padding: 0 20px;
		}

		span {
			margin-bottom: 8px;
		}
	}

	&__items {
		@include adaptiv-value("margin-left", -20, -0, 1);
		@include adaptiv-value("margin-right", -20, -0, 1);

		@media screen and (max-width: 575px) {
			margin: 0;
		}

		.slick-list {
			padding: 30px 0;
		}

		.slick-arrow {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 60px;
			height: 60px;
			border-radius: 50%;
			border: 1px solid $Grey4;
			background-color: $White;
			position: absolute;
			top: 0;
			@include adaptiv-value("right", 20, 0, 1);
			font-size: 30px;
			transform: translate(0, -77px);
			transition: 0.3s ease border-color 0s;

			@media screen and (min-width: 992px) {
				&:hover {
					border-color: $Violet2;
				}
			}
			@media screen and (max-width: 767px) {
				width: 45px;
				height: 45px;
				transform: translate(0, -64px);
			}
		}

		.slick-prev {
			right: 83px;
			@include adaptiv-value("right", 103, 83, 1);

			@media screen and (max-width: 767px) {
				@include adaptiv-value("right", 88, 68, 0);
			}
		}

		.slick-dots {
			margin: 0;
		}
	}

	&__item {
		@include adaptiv-value("padding-left", 20, 0, 1);
		@include adaptiv-value("padding-right", 20, 0, 1);

		@media screen and (max-width: 575px) {
			padding: 0 20px;
		}
	}

	&__item-wrapper {
		@include adaptiv-value("padding-top", 40, 25, 1);
		@include adaptiv-value("padding-bottom", 40, 25, 1);
		@include adaptiv-value("padding-left", 30, 20, 1);
		@include adaptiv-value("padding-right", 30, 20, 1);
		background: linear-gradient(146.8deg, #ffffff 0%, #ffffff 99.63%);
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06), 0px 10.3141px 15.4185px rgba(0, 0, 0, 0.0323888), 0px 4.81791px 5.4382px rgba(0, 0, 0, 0.0189546);
		border-radius: 12px;
		overflow: hidden;
	}

	&__item-heading {
		display: flex;
		align-items: flex-start;
	}

	&__item-product-content {
		flex: 1 1 auto;
		padding-right: 15px;
	}

	&__item-name {
		font-weight: 500;
		font-size: 16px;
		line-height: 17px;
		color: $Violet2;
		margin-bottom: 16px;
	}

	&__item-category {
		font-weight: 700;
	}

	&__item-product-image {
		flex: 0 0 126px;

		@include adaptiv-value("flex-basis", 126, 117, 1);
	}

	&__item-platform {
		margin: 30px 0;

		.cases__item-label {
			color: $Grey;
		}
	}

	&__item-platform-list {
		display: flex;
		margin-bottom: 16px;
	}

	&__item-platform-item {
		border-radius: 50%;
		flex: 0 0 50px;
		height: 50px;
		padding: 10px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0px 9px 15.2785px rgba(0, 0, 0, 0.14);

		$var: 20;
		@for $i from 1 through 10 {
			&:nth-child(n + #{$i + 1}) {
				transform: translateX(-#{$var * $i}px);
			}
		}
	}

	&__item-label {
		font-size: 12px;
		line-height: 14px;
	}

	&__item-num {
		font-weight: 900;
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 4px;
	}
}
// === CASES END ===

// === CLIENTS START ===
.clients {
	@include adaptiv-value("margin-top", 130, 80, 1);
	@include adaptiv-value("margin-bottom", 130, 80, 1);

	&__title {
		@include adaptiv-value("margin-bottom", 60, 20, 1);

		span {
			margin-bottom: 8px;
		}
	}

	&__list {
		@include adaptiv-value("margin-left", -15, -10, 1);
		@include adaptiv-value("margin-right", -15, -10, 1);
	}

	&__item {
		@include adaptiv-value("padding-left", 15, 10, 1);
		@include adaptiv-value("padding-right", 15, 10, 1);
	}
}
// === CLIENTS END ===

// === FAQ START ===
.faq {
	@include adaptiv-value("margin-top", 130, 80, 1);
	@include adaptiv-value("margin-bottom", 130, 80, 1);
	
	&__title {
		@include adaptiv-value("margin-bottom", 40, 20, 1);

		span {
			margin-bottom: 8px;
		}
	}
}
// === FAQ END ===

// === HEADER START ===

// === HEADER END ===
