@font-face {
  font-family: "Gotham Pro";
  font-display: swap;
  src: url("../fonts/GothamPro-Regular.woff") format("woff"), url("../fonts/GothamPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  font-display: swap;
  src: url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  font-display: swap;
  src: url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  font-display: swap;
  src: url("../fonts/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?bpo4ry");
  src: url("../fonts/icomoon.eot?bpo4ry#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff?bpo4ry") format("woff"), url("../fonts/icomoon.svg?bpo4ry#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-accordion-plus:before {
  content: "\e913";
}

.icon-arrow-left:before {
  content: "\e900";
}

.icon-arrow-right:before {
  content: "\e901";
}

.icon-check-accept:before {
  content: "\e902";
}

.icon-discount:before {
  content: "\e903";
}

.icon-download:before {
  content: "\e904";
}

.icon-hanger:before {
  content: "\e905";
}

.icon-kan:before {
  content: "\e906";
}

.icon-message:before {
  content: "\e907";
}

.icon-notes:before {
  content: "\e908";
}

.icon-search:before {
  content: "\e909";
}

.icon-ship:before {
  content: "\e90a";
}

.icon-thumb-up:before {
  content: "\e90b";
}

.icon-truck:before {
  content: "\e90c";
}

.icon-user:before {
  content: "\e90d";
}

.icon-warehouse:before {
  content: "\e90e";
}

.icon-telegram:before {
  content: "\e90f";
}

.icon-wechat:before {
  content: "\e910";
}

.icon-whatsapp:before {
  content: "\e911";
}

.icon-feature-1:before {
  content: "\e912";
}

.icon-feature-2:before {
  content: "\e917";
}

.icon-feature-3:before {
  content: "\e919";
}

.icon-feature-4:before {
  content: "\e91e";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000;
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

.site__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.site__main {
  padding: 117px 0px 0px 0px;
}

.site__footer {
  margin-top: auto;
}

.container {
  max-width: 1208px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-link {
  display: inline-block;
  color: #7f47f4;
  -webkit-transition: 0.3s ease color 0s;
  -o-transition: 0.3s ease color 0s;
  transition: 0.3s ease color 0s;
  position: relative;
}

.text-link::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #7f47f4;
  position: absolute;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
      -ms-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

.col-12,
.col-sm-6,
.col-md-6 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px;
}

.slick-slider .slick-dots {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.slick-slider .slick-dots li {
  margin-right: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.slick-slider .slick-dots li:last-child {
  margin-right: 0;
}

.slick-slider .slick-dots li button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #cecece;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
  position: relative;
}

.slick-slider .slick-dots li button::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #7f47f4;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 0.3s ease transform 0s;
  -o-transition: 0.3s ease transform 0s;
  transition: 0.3s ease transform 0s;
}

.slick-slider .slick-dots li.slick-active button::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.mb-0 {
  margin-bottom: 0 !important;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 51px;
  padding: 15px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 46px;
  background-color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: #000;
  white-space: nowrap;
  -webkit-appearance: none;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.btn--bg {
  background-color: #7f47f4;
  color: #fff;
}

.btn--big {
  font-weight: 700;
  height: 57px;
  font-size: 16px;
  line-height: 100%;
  border-radius: 100px;
}

.title-h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 120.45455%;
}

.title-h2 {
  font-weight: 700;
  font-size: 34px;
  line-height: 120.58824%;
  color: #000;
}

.title-h2 span {
  display: block;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
  color: #bfbfbf;
  text-transform: uppercase;
}

.title-h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
}

.title-h4 {
  font-size: 20px;
  line-height: 160%;
}

.title-h5 {
  font-size: 18px;
  line-height: 138.88889%;
}

.title-h6 {
  font-size: 16px;
  line-height: 118.75%;
}

.form__body {
  position: relative;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.form__item {
  width: 100%;
  margin: 0px 0px 24px 0px;
  padding-left: 12px;
  padding-right: 12px;
}

.form__item--success .form__item-wrapper {
  position: relative;
  border-color: #4ccc1f;
}

.form__item--success .form__item-wrapper::after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background: url(../img/icons/success.svg) no-repeat center/contain;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.form__item--error .form__error-txt {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 17px;
  color: #ff0000;
  margin-top: 6px;
}

.form__item--error .form__error-txt::before {
  content: '';
  display: block;
  margin-right: 4px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  width: 16px;
  height: 16px;
  background: url(../img/icons/error.svg) no-repeat center/contain;
  pointer-events: none;
  -webkit-transition: 0.3s ease opacity 0s;
  -o-transition: 0.3s ease opacity 0s;
  transition: 0.3s ease opacity 0s;
}

.form__item-wrapper {
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease border-color 0s;
  -o-transition: 0.3s ease border-color 0s;
  transition: 0.3s ease border-color 0s;
}

.form__item-wrapper.focus {
  border-color: #7f47f4;
}

.form__label {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 4px;
  color: #888888;
  padding: 0 20px;
  margin-bottom: 4px;
}

.form__input {
  padding: 0 20px;
  width: 100%;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.form__input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: 0.3s ease opacity 0s;
  transition: 0.3s ease opacity 0s;
}

.form__input::-moz-placeholder {
  opacity: 1;
  -moz-transition: 0.3s ease opacity 0s;
  transition: 0.3s ease opacity 0s;
}

.form__input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: 0.3s ease opacity 0s;
  transition: 0.3s ease opacity 0s;
}

.form__input::-ms-input-placeholder {
  opacity: 1;
  -ms-transition: 0.3s ease opacity 0s;
  transition: 0.3s ease opacity 0s;
}

.form__input::placeholder {
  opacity: 1;
  -webkit-transition: 0.3s ease opacity 0s;
  -o-transition: 0.3s ease opacity 0s;
  transition: 0.3s ease opacity 0s;
}

.form__input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.form__input:focus::-moz-placeholder {
  opacity: 0;
}

.form__input:focus:-ms-input-placeholder {
  opacity: 0;
}

.form__input:focus::-ms-input-placeholder {
  opacity: 0;
}

.form__input:focus::placeholder {
  opacity: 0;
}

.form__error-txt {
  display: none;
}

.form__submit-row {
  margin-top: 16px;
}

.form__submit-row .btn {
  margin-right: 48px;
}

.form__privacy {
  font-size: 12px;
  line-height: 18px;
  color: #888888;
}

.form__privacy a {
  color: #888888;
  text-decoration: underline;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.accordion__item {
  border-bottom: 1px solid #e0e0e0;
  font-size: 16px;
  line-height: 19px;
}

.accordion__item:last-child {
  border-bottom: 0;
}

.accordion__title {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  margin: 20px 0;
  font-weight: 700;
  -webkit-transition: 0.5s ease color 0s;
  -o-transition: 0.5s ease color 0s;
  transition: 0.5s ease color 0s;
}

.accordion__title span {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 15px;
}

.accordion__title i {
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.accordion__title.active i {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.accordion__text {
  display: none;
  padding-bottom: 30px;
  line-height: 24px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-transition: 0.3s ease box-shadow 0s;
  -o-transition: 0.3s ease box-shadow 0s;
  transition: 0.3s ease box-shadow 0s;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transition: 0.3s ease background-color 0s;
  -o-transition: 0.3s ease background-color 0s;
  transition: 0.3s ease background-color 0s;
}

.header.bg {
  -webkit-box-shadow: 0px -1px 26px -7px rgba(33, 55, 65, 0.61);
          box-shadow: 0px -1px 26px -7px rgba(33, 55, 65, 0.61);
}

.header.bg::before {
  background-color: #fff;
}

.header.bg .header__body {
  height: 72px;
}

.header__container {
  max-width: 1344px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 117px;
  -webkit-transition: 0.3s ease height 0s;
  -o-transition: 0.3s ease height 0s;
  transition: 0.3s ease height 0s;
}

.header__body.active::before {
  z-index: 5;
}

.header__burger {
  display: none;
}

.header__logo {
  z-index: 2;
  margin-right: 80px;
  -webkit-transition: 0.3s ease opacity 0s;
  -o-transition: 0.3s ease opacity 0s;
  transition: 0.3s ease opacity 0s;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  z-index: 2;
}

.header__phone {
  font-weight: 700;
  font-size: 15px;
  line-height: 1;
  color: #000;
  white-space: nowrap;
  z-index: 2;
  display: block;
  margin-right: 48px;
  -webkit-transition: 0.3s ease color 0s;
  -o-transition: 0.3s ease color 0s;
  transition: 0.3s ease color 0s;
}

.header__link {
  display: block;
  margin-right: 38px;
  z-index: 2;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  color: #000;
  text-decoration: underline;
  white-space: nowrap;
  -webkit-transition: 0.3s ease color 0s;
  -o-transition: 0.3s ease color 0s;
  transition: 0.3s ease color 0s;
}

.header__lc {
  z-index: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 46px;
  border-radius: 100px;
  padding: 15px 14px 15px 22px;
  border: 1px solid #e0e0e0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  color: #000;
  white-space: nowrap;
  -webkit-transition: 0.3s ease border-color 0s;
  -o-transition: 0.3s ease border-color 0s;
  transition: 0.3s ease border-color 0s;
}

.header__lc span {
  margin-right: 16px;
}

.header__lc i {
  font-size: 16px;
}

.menu__item {
  margin-right: 32px;
}

.menu__link {
  font-size: 14px;
  line-height: 1;
  color: #000;
  -webkit-transition: 0.3s ease color 0s;
  -o-transition: 0.3s ease color 0s;
  transition: 0.3s ease color 0s;
}

.main {
  overflow: hidden;
  padding-top: 65px;
  padding-bottom: 65px;
}

.main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 56%;
          flex: 0 0 56%;
}

.main__title {
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: 14px;
  position: relative;
}

.main__title::before {
  content: "";
  display: block;
  height: 100%;
  width: 28px;
  background-color: #7f47f4;
  position: absolute;
  top: 0;
  left: -9px;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.main__text {
  font-size: 18px;
  line-height: 138.88889%;
  margin-bottom: 65px;
  color: #888888;
}

.swing-1 {
  -webkit-animation: swing 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation: swing 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  z-index: 1;
}

.swing-2 {
  -webkit-animation: swing 3.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation: swing 3.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  z-index: 2;
}

.swing-3 {
  -webkit-animation: swing 3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation: swing 3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  z-index: 3;
}

.swing-4 {
  -webkit-animation: swing 2.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation: swing 2.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  z-index: 4;
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  100% {
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  100% {
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}

.about {
  margin-top: 83px;
}

.about__left {
  padding-right: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.about__text {
  max-width: 460px;
}

.about__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.about__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 400px;
  margin-top: -27px;
  margin-bottom: -27px;
  margin-left: -27px;
  margin-right: -27px;
}

.about__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 27px;
  padding-right: 27px;
}

.about__card-wrapper {
  max-width: 160px;
  margin: 0 auto;
  text-align: center;
}

.about__card-icon {
  position: relative;
  padding-bottom: 60px;
  margin-bottom: 16px;
}

.about__card-icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about__card-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #888888;
}

.statistics {
  padding-top: 100px;
  padding-bottom: 70px;
}

.statistics__title {
  margin-bottom: 40px;
}

.statistics__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -20px;
}

.statistics__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 20px;
}

.statistics__card--black .statistics__card-option {
  color: #000;
}

.statistics__card--title {
  padding-left: 105px;
}

.statistics__card-wrapper {
  border-radius: 12px;
  -webkit-box-shadow: 0px 44px 41px -40px rgba(0, 0, 0, 0.15), 0px 34px 54px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 44px 41px -40px rgba(0, 0, 0, 0.15), 0px 34px 54px rgba(0, 0, 0, 0.17);
  padding-top: 45px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 347px;
}

.statistics__card-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 20px;
}

.statistics__card-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  margin-bottom: 24px;
}

.statistics__card-option:last-child {
  margin-bottom: 0;
}

.statistics__card-option-label {
  padding-right: 10px;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.6;
}

.statistics__card-option-value {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
}

.statistics .slick-list {
  padding: 20px 0;
}

.services__heading {
  margin-bottom: 65px;
}

.services__heading .title-h2 span {
  margin-bottom: 8px;
}

.services__item {
  position: relative;
  overflow: hidden;
}

.services__item::before,
.services__item::after {
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
}

.services__item::before {
  width: 672px;
  height: 282px;
  background: url(../img/services/service-bg.svg) no-repeat center/contain;
}

.services__item::after {
  width: 759px;
  height: 193px;
  background: url(../img/services/service-bg-2.svg) no-repeat center/contain;
  bottom: 0;
  left: 48px;
}

.services__item:nth-child(2n) .services__item-action {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.services__item-wrapper {
  min-height: 563px;
  color: #fff;
}

.services__item-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34%;
          flex: 0 0 34%;
  position: relative;
}

.services__item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  z-index: 1;
}

.services__item-content {
  width: 100%;
  max-width: 1208px;
  padding-top: 65px;
  padding-bottom: 65px;
  padding-left: 0;
  position: relative;
  z-index: 2;
  padding-right: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__item-title {
  max-width: 342px;
  margin-bottom: 45px;
}

.services__item-row {
  margin: 0 -10px;
  margin-bottom: 45px;
}

.services__item-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 10px;
}

.services__item-subtitle {
  margin-bottom: 30px;
  max-width: 355px;
}

.services__item-text {
  max-width: 300px;
  font-size: 14px;
  line-height: 22px;
}

.services__item-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: -22px;
  margin-right: -22px;
}

.services__item-action > div {
  padding-left: 22px;
  padding-right: 22px;
}

.services__item-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__item-price span {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  padding-left: 22px;
  display: inline-block;
}

.services__item-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.services__item-option:last-child {
  margin-bottom: 0;
}

.services__item-option-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  margin-right: 16px;
}

.services__item--reverse .services__item-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.services__item--reverse .services__item-content {
  padding-left: 80px;
  padding-right: 0;
}

.services__item--reverse .services__item-image img {
  -o-object-position: left;
     object-position: left;
}

.services__item--dark::before {
  background: url(../img/services/service-bg-dark.svg) no-repeat center/cover;
}

.services__item--dark::after {
  background: url(../img/services/service-bg-dark-2.svg) no-repeat center/cover;
}

.services__item--dark .services__item-wrapper {
  color: #000;
}

.services__item--dark .btn {
  background-color: #7f47f4;
  color: #fff;
}

.cases {
  margin-top: 130px;
  margin-bottom: 100px;
}

.cases__title {
  margin-bottom: 18px;
}

.cases__title span {
  margin-bottom: 8px;
}

.cases__items {
  margin-left: -20px;
  margin-right: -20px;
}

.cases__items .slick-list {
  padding: 30px 0;
}

.cases__items .slick-arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #b5becb;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 30px;
  -webkit-transform: translate(0, -77px);
      -ms-transform: translate(0, -77px);
          transform: translate(0, -77px);
  -webkit-transition: 0.3s ease border-color 0s;
  -o-transition: 0.3s ease border-color 0s;
  transition: 0.3s ease border-color 0s;
}

.cases__items .slick-prev {
  right: 83px;
  right: 103px;
}

.cases__items .slick-dots {
  margin: 0;
}

.cases__item {
  padding-left: 20px;
  padding-right: 20px;
}

.cases__item-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  background: -o-linear-gradient(303.2deg, #ffffff 0%, #ffffff 99.63%);
  background: linear-gradient(146.8deg, #ffffff 0%, #ffffff 99.63%);
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06), 0px 10.3141px 15.4185px rgba(0, 0, 0, 0.0323888), 0px 4.81791px 5.4382px rgba(0, 0, 0, 0.0189546);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06), 0px 10.3141px 15.4185px rgba(0, 0, 0, 0.0323888), 0px 4.81791px 5.4382px rgba(0, 0, 0, 0.0189546);
  border-radius: 12px;
  overflow: hidden;
}

.cases__item-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cases__item-product-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 15px;
}

.cases__item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: #7f47f4;
  margin-bottom: 16px;
}

.cases__item-category {
  font-weight: 700;
}

.cases__item-product-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 126px;
          flex: 0 0 126px;
  -ms-flex-preferred-size: 126px;
      flex-basis: 126px;
}

.cases__item-platform {
  margin: 30px 0;
}

.cases__item-platform .cases__item-label {
  color: #888888;
}

.cases__item-platform-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.cases__item-platform-item {
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  height: 50px;
  padding: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 9px 15.2785px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 9px 15.2785px rgba(0, 0, 0, 0.14);
}

.cases__item-platform-item:nth-child(n + 2) {
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
}

.cases__item-platform-item:nth-child(n + 3) {
  -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
          transform: translateX(-40px);
}

.cases__item-platform-item:nth-child(n + 4) {
  -webkit-transform: translateX(-60px);
      -ms-transform: translateX(-60px);
          transform: translateX(-60px);
}

.cases__item-platform-item:nth-child(n + 5) {
  -webkit-transform: translateX(-80px);
      -ms-transform: translateX(-80px);
          transform: translateX(-80px);
}

.cases__item-platform-item:nth-child(n + 6) {
  -webkit-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
          transform: translateX(-100px);
}

.cases__item-platform-item:nth-child(n + 7) {
  -webkit-transform: translateX(-120px);
      -ms-transform: translateX(-120px);
          transform: translateX(-120px);
}

.cases__item-platform-item:nth-child(n + 8) {
  -webkit-transform: translateX(-140px);
      -ms-transform: translateX(-140px);
          transform: translateX(-140px);
}

.cases__item-platform-item:nth-child(n + 9) {
  -webkit-transform: translateX(-160px);
      -ms-transform: translateX(-160px);
          transform: translateX(-160px);
}

.cases__item-platform-item:nth-child(n + 10) {
  -webkit-transform: translateX(-180px);
      -ms-transform: translateX(-180px);
          transform: translateX(-180px);
}

.cases__item-platform-item:nth-child(n + 11) {
  -webkit-transform: translateX(-200px);
      -ms-transform: translateX(-200px);
          transform: translateX(-200px);
}

.cases__item-label {
  font-size: 12px;
  line-height: 14px;
}

.cases__item-num {
  font-weight: 900;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 4px;
}

.clients {
  margin-top: 100px;
  margin-bottom: 130px;
}

.clients__title {
  margin-bottom: 60px;
}

.clients__title span {
  margin-bottom: 8px;
}

.clients__list {
  margin-left: -15px;
  margin-right: -15px;
}

.clients__item {
  padding-left: 15px;
  padding-right: 15px;
}

.faq {
  margin-top: 130px;
  margin-bottom: 130px;
}

.faq__title {
  margin-bottom: 40px;
}

.faq__title span {
  margin-bottom: 8px;
}

.request {
  overflow: hidden;
  position: relative;
}

.request::before,
.request::after {
  display: block;
  position: absolute;
  bottom: -360px;
}

.request::before {
  width: 462px;
  height: 659px;
  background: url(../img/form/bg-1.svg) no-repeat center/cover;
  left: 0px;
}

.request::after {
  width: 351px;
  height: 628px;
  background: url(../img/form/bg-2.svg) no-repeat center/cover;
  right: 0;
}

.request__content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.request__row {
  position: relative;
  z-index: 2;
}

.request__title {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.request__title span {
  margin-bottom: 8px;
}

.request__title::before {
  content: "";
  display: block;
  height: 100%;
  width: 28px;
  background-color: #7f47f4;
  position: absolute;
  top: 0;
  left: -9px;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.request__subtitle {
  color: #888888;
}

.request__form {
  background: -o-linear-gradient(303.2deg, #ffffff 0%, #ffffff 99.63%);
  background: linear-gradient(146.8deg, #ffffff 0%, #ffffff 99.63%);
  -webkit-box-shadow: 0px 76px 172px rgba(0, 0, 0, 0.06), 0px 30.3141px 38.4185px rgba(0, 0, 0, 0.0323888), 0px 7.81791px 11.4382px rgba(0, 0, 0, 0.0189546);
          box-shadow: 0px 76px 172px rgba(0, 0, 0, 0.06), 0px 30.3141px 38.4185px rgba(0, 0, 0, 0.0323888), 0px 7.81791px 11.4382px rgba(0, 0, 0, 0.0189546);
  border-radius: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 360px;
}

.request__form .form__title {
  font-weight: 700;
  margin-bottom: 36px;
}

.request__form .form__item {
  margin-bottom: 26px;
}

.request__form .form__button {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 24px;
}

.request__form .form__privacy {
  font-size: 12px;
  line-height: 150%;
}

.request__parallax {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.request__parallax img {
  margin: 0 auto;
}

.request__bg {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-57%, 0);
      -ms-transform: translate(-57%, 0);
          transform: translate(-57%, 0);
  width: 100%;
  padding-bottom: 500px;
  pointer-events: none;
}

.request__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}

@media screen and (min-width: 451px) {
  .services__item-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 576px) {
  .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 100%;
  }

  .form__submit-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 100%;
  }

  .main__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .about__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .services__item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .request {
    min-height: 648px;
  }

  .request::before,
  .request::after {
    content: "";
  }

  .request__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .request__left {
    max-width: 294px;
  }
}

@media screen and (min-width: 992px) {
  .text-link:hover {
    color: #9366f2;
  }

  .btn:hover {
    background-color: #ebe4f9;
  }

  .btn--bg:hover {
    background-color: #9366f2;
  }

  .form__privacy a:hover {
    color: rgba(136, 136, 136, 0.6);
    text-decoration: underline;
  }

  .accordion__title:hover {
    color: #7f47f4;
  }

  .header__logo:hover {
    opacity: 0.8;
  }

  .header__phone:hover {
    color: #5f656d;
  }

  .header__link:hover {
    text-decoration: underline;
    color: #5f656d;
  }

  .header__lc:hover {
    border-color: #9366f2;
  }

  .menu__link:hover {
    color: #5f656d;
  }

  .statistics {
    padding-top: 150px;
  }

  .statistics__card:nth-child(3n + 1) .statistics__card-wrapper {
    -webkit-transform: translate(0, -150px);
        -ms-transform: translate(0, -150px);
            transform: translate(0, -150px);
  }

  .statistics__card:nth-child(6n) {
    padding-top: 100px;
  }

  .services__item--dark .btn:hover {
    background-color: #9366f2;
  }

  .cases__items .slick-arrow:hover {
    border-color: #7f47f4;
  }

  .request__right {
    padding-right: 50px;
  }
}

@media screen and (min-width: 1366px) {
  .main__title::before {
    left: -80px;
  }

  .request__title::before {
    left: -80px;
  }
}

@media screen and (min-width: 1921px) {
  .services__item-image {
    position: absolute;
    width: 463px;
    height: 100%;
  }

  .services__item-content {
    margin: 0 auto;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

@media screen and (max-width: 1365.98px) {
  body {
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1366 - 320)));
    line-height: calc(26 / 16);
  }
}

@media (max-width: 1208px) {
  .container {
    padding-left: calc(20px + 10 * ((100vw - 320px) / (1046)));
  }

  .container {
    padding-right: calc(20px + 10 * ((100vw - 320px) / (1046)));
  }

  .btn--big {
    height: calc(55px + 2 * ((100vw - 320px) / (1046)));
  }

  .btn--big {
    font-size: calc(14px + 2 * ((100vw - 320px) / (1046)));
  }

  .title-h1 {
    font-size: calc(24px + 20 * ((100vw - 320px) / (1046)));
  }

  .title-h2 {
    font-size: calc(24px + 10 * ((100vw - 320px) / (1046)));
  }

  .title-h2 span {
    margin-bottom: calc(8px + 12 * ((100vw - 320px) / (1046)));
  }

  .title-h3 {
    font-size: calc(24px + 6 * ((100vw - 320px) / (1046)));
  }

  .title-h4 {
    font-size: calc(16px + 4 * ((100vw - 320px) / (1046)));
  }

  .title-h5 {
    font-size: calc(14px + 4 * ((100vw - 320px) / (1046)));
  }

  .title-h6 {
    font-size: calc(14px + 2 * ((100vw - 320px) / (1046)));
  }

  .form__row {
    margin-left: calc(-6px + -6 * ((100vw - 320px) / (1046)));
  }

  .form__row {
    margin-right: calc(-6px + -6 * ((100vw - 320px) / (1046)));
  }

  .form__item {
    padding-left: calc(6px + 6 * ((100vw - 320px) / (1046)));
  }

  .form__item {
    padding-right: calc(6px + 6 * ((100vw - 320px) / (1046)));
  }

  .form__submit-row .btn {
    margin-right: calc(10px + 38 * ((100vw - 320px) / (1046)));
  }

  .header__logo {
    margin-right: calc(0px + 80 * ((100vw - 320px) / (1046)));
  }

  .header__phone {
    margin-right: calc(15px + 33 * ((100vw - 320px) / (1046)));
  }

  .header__link {
    margin-right: calc(8px + 30 * ((100vw - 320px) / (1046)));
  }

  .menu__item {
    margin-right: calc(8px + 24 * ((100vw - 320px) / (1046)));
  }

  .main {
    padding-top: calc(26px + 39 * ((100vw - 320px) / (1046)));
  }

  .main {
    padding-bottom: calc(26px + 39 * ((100vw - 320px) / (1046)));
  }

  .main__title {
    padding-top: calc(0px + 35 * ((100vw - 320px) / (1046)));
  }

  .main__title {
    padding-bottom: calc(0px + 35 * ((100vw - 320px) / (1046)));
  }

  .main__title::before {
    width: calc(6px + 22 * ((100vw - 320px) / (1046)));
  }

  .main__text {
    font-size: calc(14px + 4 * ((100vw - 320px) / (1046)));
  }

  .main__text {
    margin-bottom: calc(40px + 25 * ((100vw - 320px) / (1046)));
  }

  .about {
    margin-top: calc(0px + 83 * ((100vw - 320px) / (1046)));
  }

  .about__cards {
    margin-top: calc(-24px + -3 * ((100vw - 320px) / (1046)));
  }

  .about__cards {
    margin-bottom: calc(-24px + -3 * ((100vw - 320px) / (1046)));
  }

  .about__cards {
    margin-left: calc(-7px + -20 * ((100vw - 320px) / (1046)));
  }

  .about__cards {
    margin-right: calc(-7px + -20 * ((100vw - 320px) / (1046)));
  }

  .about__card {
    padding-top: calc(24px + 3 * ((100vw - 320px) / (1046)));
  }

  .about__card {
    padding-bottom: calc(24px + 3 * ((100vw - 320px) / (1046)));
  }

  .about__card {
    padding-left: calc(7px + 20 * ((100vw - 320px) / (1046)));
  }

  .about__card {
    padding-right: calc(7px + 20 * ((100vw - 320px) / (1046)));
  }

  .statistics {
    padding-top: calc(88px + 12 * ((100vw - 320px) / (1046)));
  }

  .statistics__title {
    margin-bottom: calc(24px + 16 * ((100vw - 320px) / (1046)));
  }

  .statistics__cards {
    margin: calc(-8px + -12 * ((100vw - 320px) / (1046)));
  }

  .statistics__card {
    padding: calc(8px + 12 * ((100vw - 320px) / (1046)));
  }

  .statistics__card-wrapper {
    padding-top: calc(35px + 10 * ((100vw - 320px) / (1046)));
  }

  .statistics__card-wrapper {
    padding-left: calc(5px + 35 * ((100vw - 320px) / (1046)));
  }

  .statistics__card-wrapper {
    padding-right: calc(5px + 35 * ((100vw - 320px) / (1046)));
  }

  .statistics__card-wrapper {
    min-height: calc(287px + 60 * ((100vw - 320px) / (1046)));
  }

  .statistics__card-option {
    margin-bottom: calc(16px + 8 * ((100vw - 320px) / (1046)));
  }

  .services__heading {
    margin-bottom: calc(20px + 45 * ((100vw - 320px) / (1046)));
  }

  .services__heading .title-h2 span {
    margin-bottom: calc(8px + 0 * ((100vw - 320px) / (1046)));
  }

  .services__item::after {
    left: calc(0px + 48 * ((100vw - 320px) / (1046)));
  }

  .services__item-content {
    padding-top: calc(48px + 17 * ((100vw - 320px) / (1046)));
  }

  .services__item-content {
    padding-bottom: calc(48px + 17 * ((100vw - 320px) / (1046)));
  }

  .services__item-content {
    padding-right: calc(20px + 60 * ((100vw - 320px) / (1046)));
  }

  .services__item-title {
    margin-bottom: calc(25px + 20 * ((100vw - 320px) / (1046)));
  }

  .services__item-row {
    margin-bottom: calc(40px + 5 * ((100vw - 320px) / (1046)));
  }

  .services__item-subtitle {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / (1046)));
  }

  .services__item-action {
    margin-left: calc(-8px + -14 * ((100vw - 320px) / (1046)));
  }

  .services__item-action {
    margin-right: calc(-8px + -14 * ((100vw - 320px) / (1046)));
  }

  .services__item-action > div {
    padding-left: calc(8px + 14 * ((100vw - 320px) / (1046)));
  }

  .services__item-action > div {
    padding-right: calc(8px + 14 * ((100vw - 320px) / (1046)));
  }

  .services__item--reverse .services__item-content {
    padding-left: calc(20px + 60 * ((100vw - 320px) / (1046)));
  }

  .cases {
    margin-top: calc(80px + 50 * ((100vw - 320px) / (1046)));
  }

  .cases {
    margin-bottom: calc(50px + 50 * ((100vw - 320px) / (1046)));
  }

  .cases__items {
    margin-left: calc(0px + -20 * ((100vw - 320px) / (1046)));
  }

  .cases__items {
    margin-right: calc(0px + -20 * ((100vw - 320px) / (1046)));
  }

  .cases__items .slick-arrow {
    right: calc(0px + 20 * ((100vw - 320px) / (1046)));
  }

  .cases__items .slick-prev {
    right: calc(83px + 20 * ((100vw - 320px) / (1046)));
  }

  .cases__item {
    padding-left: calc(0px + 20 * ((100vw - 320px) / (1046)));
  }

  .cases__item {
    padding-right: calc(0px + 20 * ((100vw - 320px) / (1046)));
  }

  .cases__item-wrapper {
    padding-top: calc(25px + 15 * ((100vw - 320px) / (1046)));
  }

  .cases__item-wrapper {
    padding-bottom: calc(25px + 15 * ((100vw - 320px) / (1046)));
  }

  .cases__item-wrapper {
    padding-left: calc(20px + 10 * ((100vw - 320px) / (1046)));
  }

  .cases__item-wrapper {
    padding-right: calc(20px + 10 * ((100vw - 320px) / (1046)));
  }

  .cases__item-product-image {
    -ms-flex-preferred-size: calc(117px + 9 * ((100vw - 320px) / (1046)));
        flex-basis: calc(117px + 9 * ((100vw - 320px) / (1046)));
  }

  .clients {
    margin-top: calc(50px + 50 * ((100vw - 320px) / (1046)));
  }

  .clients {
    margin-bottom: calc(80px + 50 * ((100vw - 320px) / (1046)));
  }

  .clients__title {
    margin-bottom: calc(20px + 40 * ((100vw - 320px) / (1046)));
  }

  .clients__list {
    margin-left: calc(-10px + -5 * ((100vw - 320px) / (1046)));
  }

  .clients__list {
    margin-right: calc(-10px + -5 * ((100vw - 320px) / (1046)));
  }

  .clients__item {
    padding-left: calc(10px + 5 * ((100vw - 320px) / (1046)));
  }

  .clients__item {
    padding-right: calc(10px + 5 * ((100vw - 320px) / (1046)));
  }

  .faq {
    margin-top: calc(80px + 50 * ((100vw - 320px) / (1046)));
  }

  .faq {
    margin-bottom: calc(80px + 50 * ((100vw - 320px) / (1046)));
  }

  .faq__title {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / (1046)));
  }

  .request__content {
    padding-top: calc(30px + 70 * ((100vw - 320px) / (1046)));
  }

  .request__content {
    padding-bottom: calc(80px + 20 * ((100vw - 320px) / (1046)));
  }

  .request__title {
    padding-top: calc(16px + 34 * ((100vw - 320px) / (1046)));
  }

  .request__title {
    padding-bottom: calc(16px + 34 * ((100vw - 320px) / (1046)));
  }

  .request__title::before {
    width: calc(6px + 22 * ((100vw - 320px) / (1046)));
  }

  .request__form {
    padding-top: calc(32px + 18 * ((100vw - 320px) / (1046)));
  }

  .request__form {
    padding-bottom: calc(32px + 18 * ((100vw - 320px) / (1046)));
  }

  .request__form {
    padding-left: calc(20px + 20 * ((100vw - 320px) / (1046)));
  }

  .request__form {
    padding-right: calc(20px + 20 * ((100vw - 320px) / (1046)));
  }

  .request__form .form__title {
    margin-bottom: calc(32px + 4 * ((100vw - 320px) / (1046)));
  }

  .request__form .form__button {
    margin-top: calc(6px + 6 * ((100vw - 320px) / (1046)));
  }

  .request__form .form__button {
    margin-bottom: calc(16px + 8 * ((100vw - 320px) / (1046)));
  }

  .request__form .form__privacy {
    font-size: calc(10px + 2 * ((100vw - 320px) / (1046)));
  }
}

@media screen and (max-width: 991px) {
  .header__body {
    height: 72px;
  }

  .header__burger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 42px;
    height: 42px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 100%;
    border: 1px solid #e0e0e0;
    z-index: 5;
  }

  .header__burger.active .header__burger-inner::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 6px;
  }

  .header__burger.active .header__burger-inner::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 5px;
  }

  .header__burger.active .header__burger-inner span {
    -webkit-transform: translate(0, -50%) scale(0);
        -ms-transform: translate(0, -50%) scale(0);
            transform: translate(0, -50%) scale(0);
  }

  .header__burger-inner {
    display: block;
    width: 15px;
    height: 12px;
    position: relative;
  }

  .header__burger-inner::before,
  .header__burger-inner::after,
  .header__burger-inner span {
    position: absolute;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 10%;
    border-radius: 20px;
    -webkit-transition: 0.3s ease all 0s;
    -o-transition: 0.3s ease all 0s;
    transition: 0.3s ease all 0s;
  }

  .header__burger-inner::before {
    content: "";
    top: 0;
  }

  .header__burger-inner::after {
    content: "";
    bottom: 0;
  }

  .header__burger-inner span {
    width: 70%;
    top: 50%;
    -webkit-transform: translate(0, -50%) scale(1);
        -ms-transform: translate(0, -50%) scale(1);
            transform: translate(0, -50%) scale(1);
  }

  .header__logo {
    margin: 0;
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 266px;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 74px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 74px rgba(0, 0, 0, 0.15);
    padding: 0 40px 25px;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transition: 0.3s ease left 0s;
    -o-transition: 0.3s ease left 0s;
    transition: 0.3s ease left 0s;
  }

  .header__menu::before {
    content: "";
    background-color: #fff;
    position: fixed;
    z-index: 4;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 266px;
    height: 72px;
    -webkit-transition: 0.3s ease left 0s;
    -o-transition: 0.3s ease left 0s;
    transition: 0.3s ease left 0s;
  }

  .header__menu.active {
    left: 0;
  }

  .header__menu.active::before {
    left: 0;
  }

  .header__list {
    display: block;
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    padding-top: 100px;
  }

  .header__menu-item {
    margin: 0px 0px 32px 0px;
  }

  .statistics__cards .statistics__card {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .statistics__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .statistics__card--title {
    padding: 0 0 40px 0;
  }

  .statistics__card-wrapper {
    -webkit-box-shadow: 0px 6px 9px -4px rgba(0, 0, 0, 0.15), 0px 4px 10px rgba(0, 0, 0, 0.17);
            box-shadow: 0px 6px 9px -4px rgba(0, 0, 0, 0.15), 0px 4px 10px rgba(0, 0, 0, 0.17);
  }
}

@media screen and (max-width: 767px) {
  .site__main {
    padding: 72px 0px 0px 0px;
  }

  .main__content {
    padding-bottom: 20px;
  }

  .about__left {
    padding: 0px 0px 53px 0px;
  }

  .about__text {
    max-width: 100%;
  }

  .statistics__card--title {
    padding: 0px 0px 20px 0px;
  }

  .services__item-image {
    padding-bottom: 50%;
    min-height: 180px;
  }

  .services__item-image img {
    -o-object-position: bottom;
       object-position: bottom;
  }

  .services__item-content {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .cases__items .slick-arrow {
    width: 45px;
    height: 45px;
    -webkit-transform: translate(0, -64px);
        -ms-transform: translate(0, -64px);
            transform: translate(0, -64px);
  }

  .cases__items .slick-prev {
    right: calc(68px + 20 * ((100vw - 320px) / (1046)));
  }

  .request__left {
    margin-bottom: 20px;
  }

  .request__form {
    position: relative;
    z-index: 2;
  }

  .request__bg {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .statistics__card-wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 575px) {
  .slick-slider .slick-dots li button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 14px;
            flex: 0 0 14px;
    width: 14px;
    height: 14px;
  }

  .slick-slider .slick-dots li button::before {
    width: 8px;
    height: 8px;
  }

  .form__submit-row .btn {
    margin: 0px 0px 16px 0px;
  }

  .header__lc {
    width: 42px;
    height: 42px;
    padding: 0;
  }

  .header__lc span {
    display: none;
  }

  .main__title {
    margin-bottom: 32px;
  }

  .statistics__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .cases__container {
    padding: 0;
  }

  .cases__title {
    padding: 0 20px;
  }

  .cases__items {
    margin: 0;
  }

  .cases__item {
    padding: 0 20px;
  }

  .request__left {
    margin-bottom: 60px;
  }

  .request__wrapper {
    position: relative;
  }

  .request__wrapper::before {
    content: "";
    display: block;
    height: 100%;
    width: 6px;
    background-color: #7f47f4;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate(-20px, 0);
        -ms-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }

  .request__title::before {
    display: none;
  }

  .request__right {
    position: relative;
  }

  .request__right::before,
  .request__right::after {
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
  }

  .request__right::before {
    content: "";
    top: 0;
    right: 0;
    width: 69px;
    height: 94px;
    -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    background: url(../img/form/bg-mob-1.svg) no-repeat center/cover;
  }

  .request__right::after {
    content: "";
    left: 0;
    bottom: 0;
    width: 124px;
    height: 231px;
    -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    background: url(../img/form/bg-mob-2.svg) no-repeat center/cover;
  }

  .request__parallax {
    display: none;
  }
}

@media screen and (max-width: 451px) {
  .services__item-column {
    margin: 30px 0;
  }

  .services__item-column:first-child {
    margin-top: 0;
  }

  .services__item-column:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 450px) {
  .btn {
    width: 100%;
    max-width: 100%;
  }

  .services__item-action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .services__item-price {
    margin-bottom: 16px;
  }
}