.title {
    &-h1 {
        font-weight: 700;
        @include adaptiv-font(44, 24, 53, 1);
    }

    &-h2 {
        font-weight: 700;
        @include adaptiv-font(34, 24, 41, 1);
        color: $Black;

        span {
            display: block;
            @include adaptiv-value("margin-bottom", 20, 8, 1);
            font-size: 12px;
            line-height: 16px;
            color: $Grey3;
            text-transform: uppercase;
        }
    }

    &-h3 {
        font-weight: 700;
        @include adaptiv-font(30, 24, 36, 1);
    }

    &-h4 {
        @include adaptiv-font(20, 16, 32, 1);
    }

    &-h5 {
        @include adaptiv-font(18, 14, 25, 1);
    }

    &-h6 {
        @include adaptiv-font(16, 14, 19, 1);
    }
}