// === Sizes ===
$size-container: 1208;
$layoutDesktop: 1366;
$layoutMobile: 320;
$size-header-height: 117px;
$size-header-height-mobile: 72px;

// === Font ===
$fontMain: "Gotham Pro";
$fontWeight: 400;
$fontSize: 16;
$fontSizeMobile: 14;
$lineHeight: 26;
$fontColor: #000;
// === Color ===

$Black: #000;
$White: #fff;
$Grey: #888888;
$Grey2: #5f656d;
$Grey3: #bfbfbf;
$LGrey: #e0e0e0;
$Green: #a8c326;
$Green2: #4ccc1f;
$Violet: #9366f2;
$Violet2: #7f47f4;
$Violet3: #ebe4f9;
$Red: #ff0000;
